/*----------GENERAL STYLING------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}


/*--------CHARLOTTE's CSS----------'*/

/*----------GRAEME'S CSS------------*/

body {
    margin: 0;
    min-height: 100vh;
    background-color: #012340;
}

#event-info {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 2rem;
}

#event-info h1 {
    margin-bottom: 1rem;
}

#event-info div {
    margin: 1rem;
    padding: 2rem;
    background-color: #F2EFBD;
    border-radius: 1rem;
}

.box1 {
    align-self: center;
}

.box1 img {
    max-width: 100%;
    border-radius: 1rem;
}


#event-info {
    display: grid;
    grid-template-columns: 1.5em 1fr 1fr 1.5em;
    grid-template-areas:
        "box1 box1 box1 box1"
        ". box2 box3 ."
        "box4 box4 box4 box4"
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}





/*-----------ZOE'S CSS--------------*/

.footer {
  background-color: #104573;

  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 50px 50px;
  left: 0;
  bottom: 0;
}

.footer-address {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  color: white;
position: absolute;

}

.footer-right a{
    display: inline;
    padding-right: 30px;
    float: right;
  max-width: 300px;
    text-decoration: none;
  color: white;
    font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}


/*----------LISA'S CSS-------------*/

/*----------JULIA'S CSS------------*/
