/*----------GENERAL STYLING------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

@import url("https://use.typekit.net/ebq7sgz.css");

/*
font-family: chaloops, sans-serif;
font-weight: 400;
font-style: normal;
*/

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}


/*--------CHARLOTTE's CSS----------'*/

#landing {
    background-image: url("img/vectors/moon.svg");
    /*    background-size: cover;*/
}

#landing img {
    width: 100vw;
}

.logo h4::after {
    content: url(paw.svg);
    display: block;
    width: 40px;
    /*    height: 40px;*/
}

/*---NAV---*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    background-color: #012340;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    font-family: chaloops, sans-serif;
    color: #F2EFBD;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.5s ease;
}

@media screen and (max-width:1024px) {

    .nav-links {
        width: 60%;
    }

}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        overflow-x: hidden;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #012340;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);

    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}



/*----------GRAEME'S CSS------------*/

body {
    background-color: #012340;
}

#event-info h1 {
    margin-bottom: 1rem;
}

#event-info {
    display: grid;
    /*    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));*/
    grid-template-columns: 1rem 1fr 1fr 1rem;
    grid-template-areas:
        ". event_img_2 event_details ."
        ". event_img_2 event_details ."
        ". event_img_2 upcoming_events ."
        ". event_img_2 opening_times .";
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
}

.event_img {
    grid-area: event_img;
}

.event_img > img {
    width: 100%;
}

.event_img_2 {
    grid-area: event_img_2;
}

.event_img_2 > img {
    width: 100%;
}

.event_details {
    grid-area: event_details;
    font-family: 'Montserrat', sans-serif;
    color: yellow;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid yellow;
    border-radius: 1rem;
}

.event_details > h1 {
    color: deeppink;
    text-transform: capitalize;
}

.upcoming_events {
    grid-area: upcoming_events;
    font-family: 'Montserrat', sans-serif;
    color: yellow;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    border: 1px solid yellow;
}

.upcoming_events > h1 {
    color: deeppink;
    text-transform: capitalize;
}

.opening_times {
    grid-area: opening_times;
    color: yellow;
    font-family: 'Montserrat', sans-serif;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
     border: 1px solid yellow;
}

.opening_times > h1 {
    color: deeppink;
    text-transform: capitalize;
}
}


/*-----------ZOE'S CSS--------------*/

.footer {

    background-color: #104573;

    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;

    padding: 50px 50px;
    left: 0;
    bottom: 0;

}

.footer-address {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    color: white;
    position: absolute;

}

.footer-right a {
    display: inline;
    padding-right: 30px;
    float: right;
    max-width: 300px;
    text-decoration: none;
    color: white;
    font-size: 18px;

    font-weight: bold;
    color: #ffffff;


    font-weight: bold;
    color: #ffffff;

}


/*----------LISA'S CSS-------------*/


#map-contact {
    display: grid;
    /*        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));*/
    grid-template-columns: 1rem 1fr 1fr 1rem;
    grid-template-areas:
        ". contact-grid map-grid ."
}

.map img {
    max-width: 100%;
}

.map {
    grid-area: map-grid;
}

.contact {
    grid-area: contact-grid;
    margin: 1rem;
    padding: 2rem;
    background-color: #F2EFBD;
    border-radius: 1rem;
    font-family: 'Montserrat', sans-serif;
}




/*----------JULIA'S CSS------------*/

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    grid-column-gap: 60px;
    grid-row-gap: 25px;
    position: relative;
}


.section_template {
    font-family: 'Montserrat', sans-serif;
    margin: 1rem;
    padding: 2rem;
    background-color: #F2EFBD;
    border-radius: 1rem;
}
